extends layout

block content
  
  div.page
    div(style="text-align:center")
      roulette-canvas
    labels-textarea

  script(type="text/javascript" src="/javascripts/underscore-min.js")
  script(type="text/javascript" src="/javascripts/hand.min.js")
  script(type="text/javascript" src="/javascripts/riot.min.js")
  script(type="text/javascript" src="/javascripts/common/Angle.js")
  script(type="text/javascript" src="/javascripts/common/Vec2.js")
  script(type="text/javascript" src="/javascripts/common/Roulette.js")
  script(type="text/javascript" src="/javascripts/RouletteView.js")
  script(type="text/javascript" src="/javascripts/RouletteFinger.js")
  script(type="text/javascript" src="/javascripts/canvaslib.js")
  script(type="text/javascript" src="/riotjs/roulette-canvas.js")
  script(type="text/javascript" src="/riotjs/labels-textarea.js")
  script(type="text/javascript" src="/socket.io/socket.io.js")
  script(type="text/javascript" src="/javascripts/RouletteClient.js")


  script.
    var labels = ["Hitokage","Fusigidane", "Zenigame", ];
    var roulette_model = new Roulette(0,Math.PI, labels);
    var roulette = new RouletteClient(roulette_model);


    riot.mount("roulette-canvas", {roulette:roulette});
    riot.mount("labels-textarea", {roulette:roulette});

    

