extends layout

block content
  
  div.page
    roulette-canvas
    labels-textarea

  script(type="text/javascript" src="/javascripts/underscore-min.js")
  script(type="text/javascript" src="/javascripts/hand.min.js")
  script(type="text/javascript" src="/javascripts/riot.min.js")
  script(type="text/javascript" src="/javascripts/Angle.js")
  script(type="text/javascript" src="/javascripts/Vec2.js")
  script(type="text/javascript" src="/javascripts/Roulette.js")
  script(type="text/javascript" src="/javascripts/RouletteView.js")
  script(type="text/javascript" src="/javascripts/RouletteFinger.js")
  script(type="text/javascript" src="/javascripts/canvaslib.js")
  script(type="text/javascript" src="/riotjs/roulette-canvas.js")
  script(type="text/javascript" src="/riotjs/labels-textarea.js")

  script.
    var labels = ["Hitokage","Fusigidane", "Mizugame", ];
    var roulette = new Roulette(0,Math.PI, labels);

    riot.mount("roulette-canvas", {roulette:roulette});
    riot.mount("labels-textarea", {roulette:roulette});

