labels-textarea
  textarea.labels-text(rows="5" cols="40" name="labels_text" onkeyup="{labelsChange}" ) {joined_labels}


  script.
    this.roulette = opts.roulette;


    var this_textarea = this;

    this.roulette.on("changed", function(){
      this_textarea.update();
    });

    this.on("update", function(){
      this.joined_labels = this.roulette.getLabels().join("\n");
    });

    labelsChange(e){
      var textArea = e.target;

      var labels_string = textArea.value;

      this.roulette.setLabels(labels_string.split("\n"));
    }
