html{

  font-size:$mobile-font-size;

  @include media($medium-screen-up){
    font-size:$tablet-font-size;
  }

  @include media($large-screen-up){
    font-size:$pc-font-size;
  }
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";

  font-size: $base-font-size;

  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  //font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}


//1 1 2 3 5 8 13 21 34 55 
h1,.h1{
  font-size:5.5rem;
}

h2,.h2{
  font-size:3.4rem;
}

h3,.h3{
  font-size:2.1rem;

  border-bottom:solid 1px;

  &.n{
    border-bottom:none;
  }
}

h4,.h4{
  font-size:2.1rem;
}

.bottomLine{
  padding-bottom:0;
  border-bottom:1px solid;
  line-height:1;
}

h1.n,
h2.n,
h3.n,
h4.n{
  font-size:1em;
}



p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%; //image is basically responsive!
}



.big{
  font-size: 1.4em;
}


table.n{
  border:none;
  padding:0;
  width:auto;
  tr{
    border:none;
    margin:0;
    padding:0;
    td{
      border:none;
      margin:0;
      padding:0;
    }
  }
}
